<%- include('header.ejs') %>
<%- include('nav.ejs') %>
<!-- <form action="/manager/save" method="POST">
  <h2>담당자</h2>
  <div class="input-group" style="margin: 10px 20px 30px 40px;"> top/right/bottom/left
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
      <input type="text" name="name" class="form-control" placeholder="이름을 입력하세요.">
      <input type="text" name="desc" class="form-control" placeholder="업무 케이스를 입력하세요.">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Button</button>
  </div>    
</form> -->
<div class="contain">
  <form class="row gy-2 gx-3 align-items-center" action="/manager/save" method="POST">
    <h3>담당자 등록</h3>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingSelect">Job</label>
      <select class="form-select" name="job">
        <option selected>Choose...</option>
        <option value="api">API</option>
        <option value="app">APP</option>
        <option value="board">BOARD</option>
        <option value="etc">ETC</option>
      </select>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInput">Task</label>
      <input type="text" class="form-control" name="task" placeholder="업무">
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInput">Name</label>
      <input type="text" class="form-control" name="name" placeholder="이름">
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInputGroup">Desc</label>
      <div class="input-group">
        <input type="text" class="form-control" name="desc" placeholder="업무/이슈 케이스">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">등록</button>
    </div>
  </form>
  <hr>
</div>

<div class="wrapper">
  <div class="title">
    담당자
  </div>

  <div class="tabs_wrap">
    <ul>
      <li data-tabs="api" value="api" class="active">API</li>
      <li data-tabs="app" value="app">APP</li>
      <li data-tabs="board" value="board">BOARD</li>
      <li data-tabs="etc" value="etc">ETC</li>
    </ul>
  </div>

  <div class="container">
    <ul>
      <li class="item_wrap male online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/Ctwf8HA.png" alt="">
            </div>
            <div class="data">
              <p class="name">Alex, 21</p>
              <p class="distance">0.95Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Online</div>
          </div>
        </div>
      </li>
      <li class="item_wrap male online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/2Necikc.png" alt="">
            </div>
            <div class="data">
              <p class="name">Brad Mondo, 32</p>
              <p class="distance">3.97Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Online</div>
          </div>
        </div>
      </li>
      <li class="item_wrap male offline">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/2pGPLrl.png" alt="">
            </div>
            <div class="data">
              <p class="name">Meagan, 25</p>
              <p class="distance">1.25Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Offline</div>
          </div>
        </div>
      </li>
      <li class="item_wrap male offline">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/A1Fjq0d.png" alt="">
            </div>
            <div class="data">
              <p class="name">John Bolton, 23</p>
              <p class="distance">2.05Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Offline</div>
          </div>
        </div>
      </li>
      <li class="item_wrap female online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/JzUIF4o.png" alt="">
            </div>
            <div class="data">
              <p class="name">Alisa Cha, 27</p>
              <p class="distance">2.42Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Online</div>
          </div>
        </div>
      </li>
      <li class="item_wrap female offline">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/jQj1I8E.png" alt="">
            </div>
            <div class="data">
              <p class="name">Mike Lane, 29</p>
              <p class="distance">1.90Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Offline</div>
          </div>
        </div>
      </li>
      <li class="item_wrap female online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/h2EFLO9.png" alt="">
            </div>
            <div class="data">
              <p class="name">Scarlett Wilson, 23</p>
              <p class="distance">3.01Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Online</div>
          </div>
        </div>
      </li>
      <li class="item_wrap female online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/yUW8QfW.png" alt="">
            </div>
            <div class="data">
              <p class="name">Rose Mary, 26</p>
              <p class="distance">2.58Km</p>
            </div>
          </div>
          <div class="item_right">
            <div class="status">Online</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  // axios 사용해보기
  // document
  //   .querySelectorAll(".delete")[3]
  //   .addEventListener("click", function (e) {
  //     console.log(e.target.dataset.postid);
  //     var result = confirm("삭제하시겠습니까?");
  //     console.log(result);
  //     if (result == true) {
  //       fetch("/delete?postId=" + e.target.dataset.postid, {
  //         method: "DELETE",
  //       })
  //         .then((r) => r.text())
  //         .then((r) => {
  //           e.target.parentElement.parentElement.style.display = "none";
  //         });
  //     }
  //   });

  var tabs = document.querySelectorAll(".tabs_wrap ul li");
  var males = document.querySelectorAll(".male");
  var females = document.querySelectorAll(".female");
  var all = document.querySelectorAll(".item_wrap");

  tabs.forEach((tab)=>{
    tab.addEventListener("click", (e)=>{
      tabs.forEach((tab)=>{
        tab.classList.remove("active")
      })
      tab.classList.add("active")
      var tabval = tab.getAttribute("data-tabs")
      console.log("tabval >>> ",tabval)
      
      all.forEach((item)=>{
        item.style.display = "none"
      })

    fetch('/manager/view?tabval='+ tabval, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log('Post created:', data);
    })
    .catch(error => {
      console.error('Error creating post:', error);
    });
    })
  })
</script>

<%- include('footer.ejs') %>